.book-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  margin-top: 5%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.edit {
  display: flex;
  gap: 5px;
}

.blue-font,
.edit {
  color: #7cb5f1;
}

.middle {
  border: none;
  border-left: 1px solid rgb(155, 151, 151);
  border-right: 1px solid rgb(155, 151, 151);
  background-color: white;
  padding: 0 8px;
  margin: 0 3px;
  color: #7cb5f1;
}

.progress {
  display: flex;
  align-items: center;
  border-right: 1px solid rgb(179, 174, 174);
  padding-right: 20px;
}

.progress-rep {
  margin-left: -40px;
}

.prog-chap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 200px;
  gap: 20px;
}

.current-chapter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
}

.curent-para {
  font-size: small;
  color: rgb(143, 138, 138);
}

.current-chapter button {
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
}
