.book-form {
  margin: 20px;
  border-top: 1px solid rgb(167, 163, 163);
  padding-top: 20px;
}

form {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

input {
  padding: 10px;
  width: 400px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.submit-btn {
  padding: 10px;
  margin: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}
